<%= form_for(@medicine) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="color:black;">
    <%= f.label :generic %><br>
    <%= f.text_field :generic %>
  </div>
  <div class="field" style="color:black;">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field" style="color:black;">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field" style="color:black;">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field" style="color:black;">
    <%= f.label :mg %><br>
    <%= f.number_field :mg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
